#sidebar {
    width: 260px;
}

/*
@media only screen and (max-width: 992px) {
    #sidebar {
        left: -105%;
    }
}
*/

.brand-logo {
    min-height: 64px;
    color: #868686;
    line-height: 64px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}

.brand-logo a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}

/* Dropdowns */
#sidebar .dropdown {
    padding-right: 15px;
}

#sidebar .dropdown:hover {
    cursor: pointer;
}

#sidebar.navmenu-inverse .dropdown:hover,
#sidebar.navmenu-inverse .dropdown.open {
    background-color: #080808;
}

#sidebar .dropdown > a:after {
    content: "\e258";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 0px;
    top: 4px;
    font-size: 20px;
}

#sidebar .dropdown.open > a:after {
    content: "\e259";
}

/* Scrollbar */
#sidebar::-webkit-scrollbar {
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

