@using SistemaDePlanillas.Models.ViewModels
@model GetUsersViewModel
@{
    ViewBag.Title = "Usuarios";
}
<div>
    <h3>@ViewBag.Message</h3>
</div>

<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de usuarios</h3>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserViewModel item in Model.Users)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-3"></div>

