
@{
    ViewBag.Title = "Cargar Archivos";

    var bundle = System.Web.Optimization.BundleTable.Bundles.GetBundleFor("~/styles/partials");
    //bundle.Include("~/Content/dropzone/dropzone.css");

}

<div>
    @using (Html.BeginForm("uploadFile", "Manage", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        id = "uploadDemo",
        @class = "dropzone"
    }))
    {
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    }

</div>

@section scripts {
    @Scripts.Render("~/bundles/js/dropzone")
    <script type="text/javascript">
            Dropzone.options.uploadDemo = {
                paramName: "file"
            };
    </script>
}
