@{ 
    ViewBag.Title = "Super Testing";
}

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" onSubmit="enviar(); return false" action="#">

                <div class="form-group">
                    <input class="form-control" type="text" id="group" placeholder="Grupo" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" id="operation" placeholder="Operación" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" id="args" placeholder="Parámetros" />
                </div>

                <input class="btn btn-default" type="submit"/>

            </form>
        </div>
    </div>
</div>

<div>
    <pre class="well well-lg" id="result"></pre>
</div>

<script>
    var enviar = function () {
        actionString($("#group").val(), $("#operation").val(), $("#args").val(),
            function (res) {
                $("#result").html(JSON.stringify(res, null, 2))
            });
    }

</script>

