@using SistemaDePlanillas.Models
@{
    var config = (ViewConfig)ViewData["config"];
    string menu = config != null ? config.activeMenu : null;
    string active = config != null && config.activeOption != null ? config.activeOption : "";
    var menuBar = SessionManager.getInstance().getMenuBarConfig((User)Session["user"], menu);
}

<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
            <a class="navbar-brand" href="#"><span class="@menuBar.icon"></span> @menuBar.name</a>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                @{
                    foreach (var option in menuBar.options)
                    {
                        <li class=""><a href="@option.Item2">@option.Item1</a></li>
                    }
                }
            </ul>
        </div><!--/.nav-collapse -->
    </div></div>
