<div id="employeesSection" class="container-fluid">
    <div class="row">
        <p>
            <a href="#" data-bind="text: strings.createEmployeeLink, hidden: isFormOpen, click: openCreateForm"></a>
        </p>
    </div>
    <div class="row">
        <div class="panel panel-primary" data-bind="visible: activeEmployees().length > 0">
            <div class="panel-heading">Lista de asociados</div>
            <div class="table-responsive table-scroll">
                <table id="employeesTable" class="table table-striped table-hover">
                    <thead>
                        <tr data-bind="with: strings">
                            <th data-bind="text: name"></th>
                            <th data-bind="text: idCard"></th>
                            <th data-bind="text: location"></th>
                            <th data-bind="text: account"></th>
                            <th data-bind="text: cms"></th>
                            <th data-bind="text: cmsText"></th>
                            <th data-bind="text: calls"></th>
                            <th data-bind="text: salary"></th>
                            <th data-bind="hidden: $root.isFormOpen"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: employees">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: idCard"></td>
                            <td data-bind="text: locationName"></td>
                            <td data-bind="text: account"></td>
                            <td data-bind="text: cms"></td>
                            <td data-bind="text: cmsText"></td>
                            <td data-bind="text: calls"></td>
                            <td data-bind="text: salary.formatted"></td>
                            <td data-bind="hidden: $root.isFormOpen">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" data-bind="click: $root.openEditForm">Editar</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a data-bind="attr: { href: '/#/navigation?page=debits&employee=' + id() }">Débitos</a></li>
                                        <li><a data-bind="attr: { href: '/#/navigation?page=extras&employee=' + id() }">Extras</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="employeesEditSection" class="panel panel-primary" data-bind="visible: isFormOpen" >
            <div class="panel-heading" data-bind="text: formTitle"></div>
            <div class="panel-body">
                <form id="employeeEditForm" class="form-horizontal">
                    <div class="container-fluid" data-bind="with: editingObject">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeeEditFormName" class="col-sm-4 control-label" data-bind="text: $root.strings.name"></label>
                                    <div class="col-sm-8">
                                        <input id="employeeEditFormName" type="text" class="form-control" data-bind="value: name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeeEditFormIdCard" class="col-sm-4 control-label" data-bind="text: $root.strings.idCard"></label>
                                    <div class="col-sm-8">
                                        <input id="employeeEditFormIdCard" type="text" class="form-control" data-bind="value: idCard" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeeEditFormAccount" class="col-sm-4 control-label" data-bind="text: $root.strings.account"></label>
                                    <div class="col-sm-8">
                                        <input id="employeeEditFormAccount" type="text" class="form-control" data-bind="value: account" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible: $root.isEditMode">
                                    <label for="employeeEditFormLocation" class="col-sm-4 control-label" data-bind="text: $root.strings.location"></label>
                                    <div class="col-sm-8">
                                        <select id="employeeEditFormLocation" type="text" class="form-control" data-bind="options: $root.locations, optionsText: 'name', optionsValue: 'id', value: locationId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employeeEditFormCMS" class="col-sm-4 control-label" data-bind="text: $root.strings.cms"></label>
                                    <div class="col-sm-8">
                                        <div tabindex="0">
                                            <input id="employeeEditFormCMS" type="checkbox" data-bind="bootstrapToggle: cms, disable: $root.isEditMode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible: cms">
                                    <label for="employeeEditFormcmsText" class="col-sm-4 control-label" data-bind="text: $root.strings.cmsText"></label>
                                    <div class="col-sm-8">
                                        <input id="employeeEditFormcmsText" type="text" class="form-control" data-bind="value: cmsText" />
                                    </div>
                                </div>
                                <div class="form-group" data-bind="hidden: cms">
                                    <label for="employeeEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.strings.salary"></label>
                                    <div class="col-sm-8">
                                        <input id="employeeEditFormSalary" type="number" class="form-control" data-bind="value: salary" />
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="saveCancelButtonsRegion" class="panel-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-danger" data-bind="click: submitDelete, visible: isEditMode">Eliminar</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-bind="click: closeForm">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bind="click: submitCreate, visible: isCreateMode">Guardar cambios</button>
                    <button type="submit" class="btn btn-success" data-bind="click: submitChanges, visible: isEditMode">Guardar cambios</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    
</div>
