
<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="testingForm" class="form-inline">
                
                <div class="form-group">
                    <input class="form-control" type="text" id="group" placeholder="Grupo" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" id="operation" placeholder="Operación" />
                </div>

                <div class="form-group" >
                    <input class="form-control" type="text" id="args" placeholder="Parámetros" />
                </div>

                <button id="testSubmitBttn" class="btn btn-default">Submit</button>
                <br>
                <div class="checkbox">
                    <h4><input type="checkbox" value="" id="fromForm"><span class="label label-default">From form</span></h4>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <pre class="well well-lg" id="result"></pre>
</div>

<script>
    require(['jquery', 'app/testing'], function ($, testingApp) {
        var enviar = function () {
            var $container = $("#result")
            $container.html("");
            if ($("#fromForm").is(':checked')) {
                testingApp.actionFromForm($("#group").val(), $("#operation").val(), JSON.parse("{" + $("#args").val() + "}"), function (res) {
                    $container.html(JSON.stringify(res, null, 2))
                });
            }
            else {
                testingApp.action($("#group").val(), $("#operation").val(), JSON.parse("[" + $("#args").val() + "]"), function (res) {
                    $container.html(JSON.stringify(res, null, 2))
                });
            }
            


        };

        $('#testSubmitBttn').click(function (event) {
            event.preventDefault();
            enviar();
        });

    });

    require(['viewModels/title'], function (title) {
        title.partialViewTitle('Backdoor');
    });
</script>

