<div id="usersSection" class="container-fluid">
    <div class="row">
        <p>
            <a href="/#/modal/?window=CreateUser">Crear un nuevo usuario</a>
        </p>
        <table id="usersTable" class="table" data-bind="visible: activeUsers().length > 0">
            <thead>
                <tr data-bind="with: labels">
                    <th data-bind="text: name"></th>
                    <th data-bind="text: username"></th>
                    <th data-bind="text: role"></th>
                    <th data-bind="text: location"></th>
                    <th data-bind="text: email"></th>
                    <th data-bind="text: active"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: username"></td>
                    <td data-bind="text: role"></td>
                    <td data-bind="text: location"></td>
                    <td data-bind="text: email"></td>
                    <td data-bind="text: active"></td>
                    <td data-bind="visible: !$parent.isEditMode()">
                        <a href="#" data-bind="click: $parent.edit">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="usersEditSection" class="well well-lg" data-bind="visible: isEditMode, with: editingObject">
            <form id="userEditForm" class="form-horizontal container-fluid">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="userEditFormId" class="col-sm-4 control-label" data-bind="text: $root.labels.id"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormId" type="text" class="form-control" data-bind="value: id" readonly />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userEditFormName" class="col-sm-4 control-label" data-bind="text: $root.labels.name"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormName" type="text" class="form-control" data-bind="value: name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="userEditFormAccount" class="col-sm-4 control-label" data-bind="text: $root.labels.username"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormAccount" type="text" class="form-control" data-bind="value: username" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userEditFormCmsText" class="col-sm-4 control-label" data-bind="text: $root.labels.password"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormCmsText" type="text" class="form-control" data-bind="value: password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.labels.role"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormSalary" type="text" class="form-control" data-bind="value: role" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.labels.location"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormSalary" type="text" class="form-control" data-bind="value: location" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.labels.email"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormSalary" type="text" class="form-control" data-bind="value: email" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.labels.active"></label>
                        <div class="col-sm-8">
                            <input id="userEditFormSalary" type="text" class="form-control" data-bind="value: active" />
                        </div>
                    </div>
                </div>
                <div id="saveCancelButtonsRegion" class="row">
                    <div class="pull-left">
                        <button type="button" class="btn btn-danger" data-bind="click: $root.delete">Eliminar</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: $root.cancel">Cancelar</button>
                        <button type="submit" class="btn btn-success" data-bind="click: $root.save">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    require(['knockout', 'app/usersViewModel'], function (ko, viewModel) {
        var element = document.getElementById('usersSection');
        ko.applyBindings(new viewModel(), element);
    });
</script>