<div id="usersSection" class="container-fluid">
    <div class="row">
        <p>
            <a href="#" data-toggle="modal" data-target="#createUserModal" data-bind="text: strings.createUserLink, hidden: isEditMode"></a>
        </p>
    </div>
    <div class="row">
        <div class="panel panel-default" data-bind="visible: usersVisible">
            <div class="table-responsive table-scroll" >

                <table id="usersTable" class="table table-striped">
                    <thead>
                        <tr data-bind="with: strings">
                            <th data-bind="text: name"></th>
                            <th data-bind="text: username"></th>
                            <th data-bind="text: role"></th>
                            <th data-bind="text: location"></th>
                            <th data-bind="text: email"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: users">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: username"></td>
                            <td data-bind="text: roleName"></td>
                            <td data-bind="text: locationName"></td>
                            <td data-bind="text: email"></td>
                            <td data-bind="hidden: $root.isEditMode">
                                <a href="#" data-bind="click: $root.openEditForm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="usersEditSection" class="panel panel-primary" data-bind="visible: isEditMode">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form id="userEditForm" class="form-horizontal container-fluid" role="form">
                    <div class="container-fluid" data-bind="with: editingObject">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="userEditFormName" class="col-sm-4 control-label" data-bind="text: $root.strings.name"></label>
                                <div class="col-sm-8">
                                    <input id="userEditFormName" type="text" class="form-control" name="name" data-bind="value: name" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="userEditFormAccount" class="col-sm-4 control-label" data-bind="text: $root.strings.username"></label>
                                <div class="col-sm-8">
                                    <input id="userEditFormUsername" type="text" class="form-control" name="username" data-bind="value: username" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.strings.email"></label>
                                <div class="col-sm-8">
                                    <input id="userEditFormEmail" type="text" class="form-control" name="email" data-bind="value: email" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.strings.location"></label>
                                <div class="col-sm-8">
                                    <select id="userEditFormLocation" class="form-control" name="location" data-bind="options: $root.locations, optionsText: 'name', optionsValue: 'id', value: locationId" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="userEditFormSalary" class="col-sm-4 control-label" data-bind="text: $root.strings.role"></label>
                                <div class="col-sm-8">
                                    <select id="userEditFormRole" class="form-control" name="role" data-bind="options: $root.roles, optionsText: 'name', optionsValue: 'id', value: roleId" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="saveCancelButtonsRegion" class="panel-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-danger" data-bind="click: submitDelete">Eliminar</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-bind="click: closeForm">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-bind="click: submitChanges">Guardar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="createUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" data-bind="text: strings.createUserModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="createUserForm" class="form-horizontal container-fluid" data-bind="with: newUserObj">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="userEditFormName" class="col-sm-4 control-label" data-bind="text: $root.strings.name"></label>
                                    <div class="col-sm-8">
                                        <input id="userEditFormName" type="text" class="form-control" name="name" data-bind="value: name" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="userEditFormUsername" class="col-sm-4 control-label" data-bind="text: $root.strings.username"></label>
                                    <div class="col-sm-8">
                                        <input id="userEditFormUsername" type="text" class="form-control" name="username" data-bind="value: username" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="userEditFormPassword" class="col-sm-4 control-label" data-bind="text: $root.strings.password"></label>
                                    <div class="col-sm-8">
                                        <input id="userEditFormPassword" type="password" class="form-control" name="password" data-bind="value: password" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="userEditFormEmail" class="col-sm-4 control-label" data-bind="text: $root.strings.email"></label>
                                    <div class="col-sm-8">
                                        <input id="userEditFormEmail" type="email" class="form-control" name="email" data-bind="value: email" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="userEditFormRole" class="col-sm-4 control-label" data-bind="text: $root.strings.role"></label>
                                    <div class="col-sm-8">
                                        <select id="userEditFormRole" class="form-control" name="role" data-bind="options: $root.roles, optionsText: 'name', optionsValue: 'id', value: roleId" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="text: strings.closeModalButton"></button>
                        <button type="button" class="btn btn-primary" data-bind="text: strings.SaveModalButton, click: submitCreate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

