<div id="usersSection" class="container-fluid">
    <div class="row">
        <p>
            <a href="/#/modal/?window=CreateUser">Crear un nuevo usuario</a>
        </p>
        <table id="usersTable" class="table" data-bind="visible: users().length > 0">
            <thead>
                <tr data-bind="with: labels">
                    <th data-bind="text: name"></th>
                    <th data-bind="text: username"></th>
                    <th data-bind="text: role"></th>
                    <th data-bind="text: location"></th>
                    <th data-bind="text: email"></th>
                    <th data-bind="text: session"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <th data-bind="text: name"></th>
                    <th data-bind="text: username"></th>
                    <th data-bind="text: role"></th>
                    <th data-bind="text: location"></th>
                    <th data-bind="text: email"></th>
                    <th data-bind="text: session"></th>
                    <td>
                        <a>Edit</a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>

<script>
    require(['knockout', 'app/usersViewModel'], function (ko, viewModel) {
        var element = document.getElementById('usersSection');
        ko.applyBindings(new viewModel(), element);
    });
</script>