<div id="welcomeSection">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h1>Coopesuperación</h1>
                    <h3>Sistema de planillas</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel panel-heading">Contacto</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Francisco Gómez</h4>
                    <p class="list-group-item-text">
                        <a href="mailto:fgomeza25@gmail.com">fgomeza25@gmail.com</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Jonathan Charpentier</h4>
                    <p class="list-group-item-text">
                        <a href="mailto:jcharpentier@mobilize.net">jcharpentier@mobilize.net</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Jafet Román</h4>
                    <p class="list-group-item-text">
                        <a href="mailto:jafet21@hotmail.es">jafet21@hotmail.es</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Oscar Chaves</h4>
                    <p class="list-group-item-text">
                        <a href="mailto:andresch1009@gmail.com">andresch1009@gmail.com</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Carlos Agüero</h4>
                    <p class="list-group-item-text">
                        <a href="mailto:dev.aguero@gmail.com">dev.aguero@gmail.com</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>
