
@model SistemaDePlanillas.Models.ViewModels.DebitsGetViewModel

@{
    ViewBag.Title = "Ver los debitos";
}

<h3>Este es el nombre del usuario, tomado de DebitsGetViewModel: <b>
    @Html.DisplayFor(model => model.nombre)
</b>
</h3>


