body {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 260px;
}

@media only screen and (max-width: 992px) {
    body {
        padding-left: 0;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content{
    margin-left: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* page transitions */
#page {
    position: relative;
    top: 50px;
    opacity: 0;
}

/* top nav */
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

@media (min-width: 993px) {
    .navbar-fixed-top {
        margin-left: 260px !important;
    }
}

.navbar-fixed-top {
    margin-left: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(133,133,133,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

}
